<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Web</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->


    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../static/lib/owlcarousel/owl.carousel.min.js" rel="stylesheet">
    <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="../static/css/style.css" rel="stylesheet">


</head>

<body>
    <!--==========================
      Header
      ============================-->
    <header id="header">

        <!-- <div id="topbar">
            <div class="container">
                <div class="social-links">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div> -->

        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <h1 class="text-light"><a href="/" class="scrollto"><span>Home</span></a></h1>
                <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li><a href="/signIn">Sign In</a></li>
                    <li><a href="/signUp">Sign Up</a></li>

                </ul>
            </nav><!-- .main-nav -->

        </div>
    </header>


        <!--End Header-->

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">
            <strong>Error:</strong> [{{ message }}]
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock content %}

        <footer class="bg-black small text-center text-black-70" style="padding-bottom: 5rem 0;">           
                <div class="copyright">
                    &copy; Made by <strong>Nguyễn Vĩnh Lộc</strong>
                </div>             
        </footer>
        <script src="../static/lib/jquery/jquery.min.js"></script>
        <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
        <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../static/lib/easing/easing.min.js"></script>
        <script src="../static/lib/mobile-nav/mobile-nav.js"></script>
        <script src="../static/lib/wow/wow.min.js"></script>
        <script src="../static/lib/waypoints/waypoints.min.js"></script>
        <script src="../static/lib/counterup/counterup.min.js"></script>
        <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="../static/lib/lightbox/js/lightbox.min.js"></script>

        <!-- copy by https://www.free-css.com/free-css-templates/page256/rapid -->

</body>

</html>